{%extends "master.html"%}{%block body%}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Element</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-6 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Compaint</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form method="post">

                                        <div class="form-row">
                                            <div class="form-group col-md-7">
                                                <label>Subject</label>
                                                <input type="text" name="subject" id="subject" class="form-control" placeholder="enter the text">
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label>Against</label>
                                                <select name="against" class="form-control" required="">
                                               <option value="">Select one...</option>
                                                      <optgroup label="Department Facility Issues">
                          {% for dps in dps %}
                                                          <option value="{{dps.subject}}">{{dps.subject.capitalize()}}</option>
                                                          {%endfor%}
                        </optgroup>
                        <optgroup label="Department Teachers">
                            {% for t in teachs %}
                          <option value="{{t.name}}">{{t.name}} ({{t.qualification}})</option>{%endfor%}
                        </optgroup>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Description</label>
                                                <textarea class="form-control" name="description" id="description" required placeholder="Explain the issue"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-secondary">SUBMIT COMPLAINT</button>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{%endblock%}
